@model eventos

<div id="addeventos">
    <div class="container">
        @using (Html.BeginForm("adicionarEventos", "AddEventos", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">

                <span>Titulo:</span>
                <input type="text" class="form-control" id="titulo-input" name="titulo" title="TituloEvento" placeholder="Insira o titulo do evento">

            </div>

            <div class="form-group">
                <span>Subtitulo:</span>
                <input type="text" class="form-control" id="subtitulo-input" name="subtitulo" title="SubtituloEvento" placeholder="Adicione um subtitulo">
            </div>

            <div class="form-group">
                <span>imagem:</span>
                <input type="file" class="form-control" id="imagem-input" name="imagemFile" value="browse" title="ImagemEvento" placeholder="Adicione uma imagem">
            </div>




            <div class="form-group">
                <span>Data de Inicio:</span>
                <input type="date" class="form-control" id="datai-input" name="datainicio" title="DataInicioEvento" placeholder="Insira a data de inicio">
            </div>

            <div class="form-group">
                <span>Data de Fim:</span>
                <input type="date" class="form-control" id="dataf-input" name="datafim" title="DataFimEvento" placeholder="Inisira a data de fim">
            </div>

            <div class="form-group">
                <span>Descrição:</span>
                <input type="text" class="form-control" id="descricao-input" name="descricao" title="DescricaoEvento" placeholder="Insira a descrição do evento">
            </div>

            <div class="form-group">
                <span>Localização:</span>
                <input type="text" class="form-control" id="loc-input" name="latlang" title="LocalizaçãoEvento" placeholder="Insira a latitude e longitude da localização do evento">
            </div>

            <button type="submit" class="add-events-btn">Adicionar Eventos</button>


            @*<div class="addEvents">
                <a href="/dashboard" title="Adicionar Eventos" class="add-events-btn">
                    <i class="fas fa-star"></i>
                    <span>Adicionar Eventos</span>
                </a>
            </div>


            <div class="addEvents">
                <a href="/dashboard" title="Adicionar Eventos" class="add-events-btn">
                <i class="fas fa-star"></i>

                </a>
            </div>*@
        }
    </div>
</div>