@model eventos

<div id="addeventos">
    <div class="container">
        @using (Html.BeginForm("Index", "AddEventos", FormMethod.Post, new{ enctype="multipart/form-data" }))
        {
            <div class="form-group">

                <span>Titulo:</span>
                <input type="text" class="form-control" id="titulo-input" name="titulo" title="TituloEvento" placeholder="Insira o titulo do evento">

            </div>

            <div class="form-group">
                <span>Subtitulo:</span>
                <input type="text" class="form-control" id="subtitulo-input" name="subtitulo" title="SubtituloEvento" placeholder="Adicione um subtitulo">
            </div>

            <div class="form-group">
                <span>imagem:</span>
                <input type="file" class="form-control" id="imagem-input" name="file" value="browse" title="ImagemEvento" placeholder="Adicione uma imagem">
                <input type="submit" value="Upload">

                @if(ViewBag.UploadSuccess == true)
                {
                    <span> Upload Completed</span>
                }

            </div>




            <div class="form-group">
                <span>Data de Inicio:</span>
                <input type="date" class="form-control" id="datai-input" name="datainicio" title="DataInicioEvento" placeholder="Insira a data de inicio">
            </div>

            <div class="form-group">
                <span>Data de Fim:</span>
                <input type="date" class="form-control" id="dataf-input" name="datafim" title="DataFimEvento" placeholder="Inisira a data de fim">
            </div>

            <div class="form-group">
                <span>Descrição:</span>
                <input type="text" class="form-control" id="descricao-input" name="descricao" title="DescricaoEvento" placeholder="Insira a descrição do evento">
            </div>

            <div class="form-group">
                <span>Localização:</span>
                <input type="text" class="form-control" id="loc-input" name="latlang" title="LocalizaçãoEvento" placeholder="Insira a latitude e longitude da localização do evento">
            </div>



            <div class="addEvents">
                <i class="fas fa-star"></i>
                <button type="submit" class="add-events-btn">Adicionar Eventos</button>
            </div>
        }
    </div>
</div>