body{min-height:80vh;}

/*#region Navbar*/
.navbar{width:100%;border-bottom:1px solid #CCC;display: block;}
.navbar .login-btn{color:#f90035;text-transform:uppercase;}
.navbar .logout-btn{color:#f90035;text-transform:uppercase;}
.navbar .logo-img{}
.navbar .logo-img img{height:80px;}
.navbar .text{color:#f90035;text-transform:uppercase;}
li {
    list-style-type: none;
    float: left;
}

li a {
        padding: 16px;
        color: #f90035;
}

li a:hover{
    text-decoration:underline;
    color:#f90035;
}
/*#endregion*/


/*#region SlideShow*/
.slide{background-image: url(/images/jpg/slide1.jpg);background-size:cover;height:100vh;background-repeat:no-repeat;}
/*#endregion*/

.coluna-evento {
    color: blue;
}

.footer{height: 90px; width: 100%; background-color: #d9d9d9; text-align: center;font-size:30px; position:absolute;}



.log-btn {
    margin-top: 10px;
}


/*#region Dashboard*/
#dashboard{padding-top:50px;}
#dashboard .title{font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;}
#dashboard .tabela, td, th, tr{border: 2px solid black;}
#dashboard .tabela tr:nth-child(even) {background-color: #e6e6e6;}
#dashboard .tabela{padding-left:0;margin-top:25px;border: 2px solid black;border-collapse: collapse;height: 50px;padding: 15px;text-align: left; width:100%;}
#dashboard .add-events-btn{background:#f90035;display:flex;align-items:center;justify-content:center;border-radius:10px;color:#FFF;height:50px;padding:0 25px;width:250px;transition:opacity 0.3s ease, transform 0.3s ease;text-decoration:none !important;}
#dashboard .add-events-btn i{color:#FFF;padding-right:10px;}
#dashboard .add-events-btn span{color:#FFF;font-size:20px;line-height:22px;font-family:'Roboto';}
#dashboard .add-events-btn:hover{opacity:0.8;transform:scale(1.05);}

#dashboard .QuemSomos{padding-top:20px;font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;}
#dashboard .Academia{padding-top:20px;font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;}
#dashboard .Cursos{padding-top:20px;font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;}
#dashboard .Contactos{padding-top:20px;font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;}
/*#endregion*/


/*#region AddEventos*/
.button {background:#f90035;display:flex;align-items:center;justify-content:center;border-radius:10px;color:#FFF;height:50px;padding:0 25px;width:250px;transition:opacity 0.3s ease, transform 0.3s ease;text-decoration:none !important;}
.button i{color:#FFF;padding-right:10px;}
.button span{color:#FFF;font-size:20px;line-height:22px;font-family:'Roboto';}
.button:hover{opacity:0.8;transform:scale(1.05);}
/*endregion*/


.main-title{text-align:center;color:#f90035;font-size:40px;line-height:42px;font-weight:600;font-family:"Open Sans",sans-serif;margin:50px 0px;}

