body{min-height:80vh;
}

/*#region Navbar*/
.navbar{width:100%;border-bottom:1px solid #CCC;display: block;}
.navbar .login-btn{color:#f90035;text-transform:uppercase;font-family:'Roboto';}
.navbar .logout-btn{color:#f90035;text-transform:uppercase;font-family:'Roboto';}
.navbar .logo-img{}
.navbar .logo-img img{height:80px;}
.navbar .text{color:#f90035;text-transform:uppercase; font-family:'Roboto';}
li {
    list-style-type: none;
    float: left;
}

li a {
        padding: 16px;
        color: #f90035;
}

li a:hover{
    text-decoration:underline;
    color:#f90035;
}
/*#endregion*/


/*#region SlideShow*/
.owl-carousel{}
.slide {background-image: url(/images/jpg/teatro22.jpg); background-size: cover; height: 100vh; background-repeat: no-repeat;}
.slide2{background-image: url(/images/jpg/mainslider4.jpg);background-size:cover;height:100vh;background-repeat:no-repeat;}
/*#endregion*/

.coluna-evento {
    color: blue;
}
.main-title{text-align:center;color:#f90035;font-size:40px;line-height:42px;font-family:"roboto";margin:50px 0px;}


.footer{height: auto; width: 100%; background-color: #d9d9d9; text-align: left;font-size:25px; position:absolute;}
.footer-title{color:#f90035;font-family:'Roboto';}


/*region login*/
.email-group{width:400px;display: block; margin-right: auto; margin-left: auto; padding-top:50px;}
.pass-group{width:400px;display: block; margin-right: auto; margin-left: auto; padding-top:30px;}
.button-group{width:300px; display: block; margin-right: auto; margin-left: auto; padding-top:30px}
.email{font-family:"roboto";color:#f90035; padding-bottom:10px;}
.pass{font-family:"roboto";color:#f90035;padding-bottom:10px;}
/*endregion*/



/*#region Dashboard*/
#dashboard{padding-top:50px;}
#dashboard .title{font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;}
#dashboard .tabela, td, th, tr{border: 1px solid #CCC;}
#dashboard .tabela tr:nth-child(even) {background-color: #e6e6e6;}
#dashboard .tabela{padding-left:0;margin-top:25px;border: 1px solid #CCC;border-collapse: collapse;height: 50px;padding: 15px;text-align: left; width:100%;}
#dashboard .add-events-btn{background:#f90035;display:flex;align-items:center;justify-content:center;border-radius:10px;color:#FFF;height:50px;padding:0 25px;width:250px;transition:opacity 0.3s ease, transform 0.3s ease;text-decoration:none !important;}
#dashboard .add-events-btn i{color:#FFF;padding-right:10px;}
#dashboard .add-events-btn span{color:#FFF;font-size:20px;line-height:22px;font-family:'Roboto';}
#dashboard .add-events-btn:hover{opacity:0.8;transform:scale(1.05);}

#dashboard .quem-somos{padding-top:20px;padding-bottom:20px;font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;border-top: 1px solid #CCC;}
#dashboard .Academia{padding-top:20px;padding-bottom:20px;font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;border-top: 1px solid #CCC;}
#dashboard .Cursos{padding-top:20px;padding-bottom:20px;font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;border-top: 1px solid #CCC;}
#dashboard .Contactos{padding-top:20px;padding-bottom:20px;font-size:23px;line-height:25px;font-family:'Roboto';color:#f90035;border-top: 1px solid #CCC;}
#dashboard .textarea{ width:100%; font-size:12px;}
#dashboard .padding{padding-bottom:25px;}
#dashboard .half{padding-bottom:20px;}
#dashboard .button-padding{padding-top:20px}
#dashboard .summernote{font-size:12px;}
/*#endregion*/


/*#region AddEventos*/
.button {background:#f90035;display:flex;align-items:center;justify-content:center;border-radius:10px;color:#FFF !important;height:50px;padding:0 25px;width:250px;transition:opacity 0.3s ease, transform 0.3s ease;text-decoration:none !important;cursor:pointer;}
.button i{color:#FFF;padding-right:10px;}
.button span{color:#FFF;font-size:20px;line-height:22px;font-family:'Roboto';}
.button:hover{opacity:0.8;transform:scale(1.05);}
/*endregion*/


#login-page{min-height:75vh;}