<div class="footer container">
    <a href="https://www.facebook.com/pages/category/Arts---Entertainment/Academia-IluminArte-348556699351410/" title="Facebook">
        <span class="fa fa-facebook"></span>
    </a>
</div>