


    <div class="footer">

        <div class="footer-title">
           Contactos
        </div>
        <div class="contactos">
            Travessa Cidade de Guimarães, nº425</br>
            4820-391 Fafe</br>
            Telefone: 253 562 645</br>
            Telemóvel: 932 934 468</br>
            Fax: 253 507 631</br>
            Visite o nosso Facebook
            <a href="https://www.facebook.com/pages/category/Arts---Entertainment/Academia-IluminArte-348556699351410/" title="Facebook">
                <span class="fa fa-facebook"></span>

            </a>

        </div>


</div>