@{
    ViewBag.Title = "Home Page";
}
<div class="footer-padding">
<div class="footer">
    <div class="container">


        <div class="row mx-0">
            <div class="col-12 col-sm-6 col-lg-4 px-0">
                <div class="footer-title">
                    Redes Sociais
                </div>
                <div class="redes-sociais">
                    <a class="d-flex w-100 footer-item" href="https://www.facebook.com/Academia-IluminArte-348556699351410" title="Facebook">
                        <span class="fab fa-facebook"></span>
                        <span class="footer-item-title">Facebook</span>
                    </a>
                    <a class="d-flex w-100 footer-item" href="https://www.instagram.com/a.a.satori/" title="Instagram">
                        <span class="fab fa-instagram"></span>
                        <span class="footer-item-title">Instagram</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 px-0">



                <div id="Contactos">
                    <div class="footer-title">Contactos</div>
                    <div class="main-descricao">@Html.Raw(ViewBag.contactostxt)</div>
                </div>
            </div>
        </div>

    </div>
</div>

</div>

