


    <div class="footer">
        <div class="container">


            <div id="Contactos">
                <div class="footer-title">Contactos</div>
                <div class="main-descricao">@Html.Raw(ViewBag.contactostxt)</div>
            </div>


            <div class="redes-sociais" id="redes-sociais">
                <div class="footer-title">Redes Sociais</div>
                Visite o nosso Facebook
                <a href="https://www.facebook.com/pages/category/Arts---Entertainment/Academia-IluminArte-348556699351410/" title="Facebook">
                    <span class="fa fa-facebook"></span>

                </a>
            </div>



        </div>
    </div>