@{
    ViewBag.Title = "Home Page";
}

@Html.Action("_slideshow", "slideshow")

<div class="container">
    <div id="QuemSomos">
        <div class="main-title">Quem Somos</div>
        <div class="main-descricao">@Html.Raw(ViewBag.quemSomosTxt)</div>
    </div>

    <div id="Academia" class="index-academia">
        <div class="main-title">Academia</div>
        <div class="main-descricao">@Html.Raw(ViewBag.academiatxt)</div>
    </div>


    <div id="Cursos">
        <div class="main-title">Cursos</div>
        <div class="main-descricao">@Html.Raw(ViewBag.cursostxt)</div>
    </div>

    <div id="Eventos">
        <div class="main-title">Eventos</div>
    </div>


    <div id="Localização">
        <div class="main-title">Localização</div>
        <div class="main-descricao"></div>
    </div>
</div>
<div id="mapid"></div>

