@{
    ViewBag.Title = "Home Page";
}



<div class="owl-carousel">
    <div class="w-100 slide item"></div>
    <div class="w-100 slide2 item"></div>
</div>

<div class="container">
    <div id="QuemSomos">
        <div class="main-title">Quem Somos</div>

    </div>

    <div id="Academia">
        <div class="main-title">Academia</div>
    </div>


    <div id="Cursos">
        <div class="main-title">Cursos</div>
    </div>

    <div id="Eventos">
        <div class="main-title">Eventos</div>
    </div>

    </div>

