@{
    ViewBag.Title = "Home Page";
}



    <div class="owl-carousel">
        <div class="w-100 slide item"></div>
        <div class="w-100 slide2 item"></div>
        <div class="w-100 slide3 item"></div>
        <div class="w-100 slide4 item"></div>
    </div>



<div class="container">
    <div id="QuemSomos">
        <div class="main-title">Quem Somos</div>
        <div class="main-descricao">@Html.Raw(ViewBag.quemSomosTxt)</div>
    </div>

    <div id="Academia">
        <div class="main-title">Academia</div>
        <div class="main-descricao">@Html.Raw(ViewBag.academiatxt)</div>
    </div>


    <div id="Cursos">
        <div class="main-title">Cursos</div>
        <div class="main-descricao">@Html.Raw(ViewBag.cursostxt)</div>
    </div>

    <div id="Eventos">
        <div class="main-title">Eventos</div>
        <div class="main-descricao">@Html.Raw(ViewBag.contactostxt)</div>
    </div>

    </div>

