<div class="container" id="login-page">

    @using (Html.BeginForm("Registar", "signup" , FormMethod.Post))
    {


    <div class="form-title">Página de Registo</div>


    <div class="name-group">
        <div class="user">
            <span>Primeiro Nome:</span>
        </div>
        <input type="text" class="form-control" id="email-input" name="FirstName" title="Insira o seu primeiro nome" placeholder="Insira a sua Password" />

    </div>

    <div class="name-group">
        <div class="user">
            <span>Ultimo Nome:</span>
        </div>
        <input type="text" class="form-control" id="email-input" name="LastName" title="Insira o seu ultimo nome" placeholder="Insira a sua Password" />

    </div>

    <div class="user-group">
        <div class="user">
            <span>Email:</span>
        </div>
        <input type="text" class="form-control" id="email-input" name="Email" title="Insira o seu email" placeholder="Insira o seu email">
    </div>
    <div class="pass-group">
        <div class="pass">
            <span>Password:</span>
        </div>
        <input type="password" class="form-control" id="password-input" name="Password" title="Insira a sua Password" placeholder="Insira a sua Password" />

        <div class="pass-group">
            <div class="pass">
                <span>Confirmar Password:</span>
            </div>
            <input type="password" class="form-control" id="password-input" name="ConfirmPassword" title="confirme a sua Password" placeholder="Insira a sua Password" />

        </div>

    </div>

    <div class="button-group">
        <button type="submit" class="button">Registar</button>
    </div>


    }
</div>
